<% layout("layouts/boilerplate") %>
<body>
    <h3>Listing Details : </h3>
    <ul>
        <li><%= listingById.title %></li>
        <li><%= listingById.description %></li>
        <li><%= listingById.image.url %></li>
        <img src="<%= listingById.image.url %>">
        <li>&#8377 <%= listingById.price.toLocaleString('en-IN') %></li>
        <li><%= listingById.location %></li>
        <li><%= listingById.country %></li>
    </ul>
    <a href="/listings/<%= listingById._id %>/edit">Edit Listing.</a>

    <form action="/listings/<%= listingById._id %>?_method=DELETE" method = "POST">
        <button>Delete Listing</button>
    </form>
    
</body>
